.left-panel {
    -fx-background-color: #1E3A6D;
}

.middle-panel {
    -fx-background-color: linear-gradient(to right, #152C56, #1E3A6D, #152C56);
}

.left-header {
    -fx-background-color: #1E3A6D;
}

.right-header {
    -fx-background-color: #1E3A6D;
}

.left-option {
    -fx-background-color: linear-gradient(#4692E1, #3775B3);
}
.menu-text {
    -fx-background-color: linear-gradient(#CEDBF3, #AAC0E8);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
